<template>
    <div class="row">
    <spinner v-show="loading"></spinner>
    <div class='col col-sm-4 mt-3' v-for="pokemon in pokemons">
        <div class='card' style='width: 16rem;'>
            <img v-bind:src='pokemon.picture' class='card-img-top rounded-circle mx-auto' alt='Imagen' style='height;100px; width:100px; background-color:#EFEFEF'>
            <div class='card-body'>
                <h5 class='card-title text-center'>{{pokemon.name}}</h5>
                <p class='card-text'>alho quick example string to build on the card title and make up the bulk of the card's content.</p>
                <a href='/trainers/"+element.slug+"' class='btn btn-primary'>Ver más...</a>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import  EventBus from '../event-bus';
    export default {
        data() {
            return {
                pokemons: [],
                loading: true

            }
        },
        created() {
            EventBus.$on('pokemon-added', data=> {
                this.pokemons.push(data)
            })
        },
        mounted() {
            axios
                .get('http://127.0.0.1:8000/pokemons')
                .then((res) => {
                    this.loading = false,
                    this.pokemons = res.data

                })
        }
    }
</script>
